@model IEnumerable<HollywoodTest.EventDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.4.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
   @* <link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <script src="~/scripts/jquery.dataTables.min.js"></script>
    <script src="~/scripts/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                $('#DataTable').DataTable();
                $('#checkBoxAll').click(function () {
                    if ($(this).is(":checked")) {
                        $(".chkCheckBoxId").prop("checked", true)
                    }
                    else {
                        $(".chkCheckBoxId").prop("checked", false)
                    }
                });
            });
    </script>
</head>
<body>
    <div class="container py-4">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h5>Event Details List</h5>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Index", "EventDetails", FormMethod.Post))
                {
                    <br /><br />
                    <table id="DataTable" style="width:100%;" class="table table-bordered">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="checkBoxAll" class="custom-checkbox" /></th>
                                <th>Event Detail ID</th>
                                <th>Event  ID</th>
                                <th>Event Detail Status ID</th>
                                <th>Event Detail Name</th>
                                <th>Event Detail Number</th>
                                <th>Event Detail Odd</th>
                                <th>Finishing Position</th>
                                <th>First Timer</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var tournament in ViewBag.ListEvents)
                            {
                            <tr>
                                <td><input type="checkbox" name="EventDetailID" value="@tournament.EventDetailID" class="custom-checkbox chkCheckBoxId" /></td>
                                <td>@tournament.EventDetailID"</td>
                                <td>@tournament.EventID</td>
                                <td>@tournament.EventDetailStatusID</td>
                                <td>@tournament.EventDetailName</td>
                                <td>@tournament.EventDetailNumber</td>
                                <td>@tournament.EventDetailOdd</td>
                                <td>@tournament.FinishingPosition</td>
                                <td>@tournament.FirsTimer</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    <button type="submit" value="Delete" class="btn btn-sm btn-danger rounded-0" onclick="return confirm('Are you sure you want to delete?')"><i class="fa fa-trash-o"></i> Delete</button>
                }
            </div>
        </div>
    </div>
</body>
</html>
