@model HollywoodTest.Event

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventEndDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventEndDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutoClose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutoClose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tournament.TournamentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tournament.TournamentName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
