@model IEnumerable<HollywoodTest.Event>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TounamentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventEndDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AutoClose)
        </th>
        <th></th>
    </tr>
    @if (this.User.IsInRole("Admin"))
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TounamentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventEndDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AutoClose)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EventID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EventID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EventID })
                </td>
            </tr>
        }
    }
    @if (this.User.IsInRole("Manager"))
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TounamentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventEndDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AutoClose)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EventID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EventID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EventID })
                </td>
            </tr>
        }
    }

    @if (this.User.IsInRole("Cashier"))
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TounamentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventEndDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AutoClose)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EventID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EventID }) |
                </td>
            </tr>
        }
    }
    @if (this.User.IsInRole("Employee"))
    {
        
    }

</table>
