@model IEnumerable<HollywoodTest.Event>

@{
    ViewBag.Title = "IndexUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.4.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/scripts/jquery.dataTables.min.js"></script>
    <script src="~/scripts/dataTables.bootstrap.min.js"></script>
 
</head>
<body>
    <div class="container py-4">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h5>Event List</h5>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Index", "Event", FormMethod.Post))
                {
                    <br /><br />
                    <table id="DataTable" style="width:100%;" class="table table-bordered">
                        <thead>
                            <tr>

                                <th>Event Name</th>
                                <th>Event Number</th>
                                <th>Event Date and Time</th>
                                <th>Event End Date and Time</th>
                                <th>Auto Close</th>
                                <th>Tournament Name</th>

                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EventName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EventNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EventDateTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EventEndDateTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AutoClose)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tournament.TournamentName)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.EventID })  
                                       
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                       }
            </div>
        </div>
    </div>
</body>
</html>

